@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-phudu);
  --font-mono: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("/assets/pointer.cur"), default;
}

button,
a,
[role="button"],
input[type="submit"],
input[type="button"] {
  cursor: url("/assets/grab.cur"), pointer;
}

.pointer {
  cursor: url("/assets/grab.cur"), pointer !important;
}

.game-button-text {
  color: #fff;
  -webkit-text-stroke: 4px #752602;
  paint-order: stroke fill;
  font-family: var(--font-phudu);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2px;
}

.sign-text {
  font-family: var(--font-phudu);
  paint-order: stroke fill;
  -webkit-text-stroke: 4px #752602;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.game-text {
  font-family: var(--font-lexend);
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.game-text-stroke {
  font-family: var(--font-lexend);
  paint-order: stroke fill;
  -webkit-text-stroke: 4px #752602;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
}

.wooden-button-text {
  font-family: var(--font-lexend);
  font-style: normal;
  font-weight: 900;
  color: #561d1d;
  line-height: normal;
}
